body{

  font-family: Verdana,Geneva,sans-serif;
  font-size: 18px;
  width: 900px;
}

h1{
font-size: 37px;
font-family: tahoma,Helvetica,sans-serif;
line-height: 46px;
color: #000000;
}

h2{
  font-size:25px;
  font-family:tahoma,Helvetica,sans-serif;
  line-height: 38px;

}

h3{
  font-size: 18px;
  color:#666;
}

p{
  font-size: 18px;
  line-height: 27px;
  color:#333;
  font-family: 'Oswald', sans-serif;
}
