body {
  background-image: url("../images/bg-body.png");
}


.logo {
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 50%;
  width: 180px;
  border: 1px solid #d2d2d2;
  display: block;
  margin: auto;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.main-header {
  width: 100%;
}

.banner img {
  width: 100%;
}
.main-nav ul {
  margin-left: -40px;
}
.main-nav ul li a {
  text-decoration: none;
  width: 180px;
  height: 50px;
  margin-right: 15px;
  background-color: #444444;
  color: white;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  float: left;
  padding-top:18px;
}

.main-nav ul {
  overflow: hidden;
}

.vip-products {
  overflow: hidden;
}

.product {
  width: 380px;
  float: left;
  margin-top: 10px;
  margin-left: 12px;
}

.photo-container {
  overflow: hidden;

}
.photo-container .photo {
  position: relative;
  width: 100%;
  right: 0px;
  float: left;
}

.photo-container .special {
  position: relative;
  float: left;
  margin-left: 313px;
  margin-top: -202px;
}
.photo-container a {
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 25px;
  padding-top: 10px;

}
.photo-container .zoom {
  position: relative;
  float: left;
  margin-top: -104px;
  background-color: rgba(94, 94, 94, 0.63);
}

.more {
  color: white;
  background-color: grey;
  border: 0px;
  padding: 10px 5px;
  text-decoration: none;
}

.main-footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 125px;
  background-color: red;
  border-radius: 25px 25px 0 0px;
  top: 10px;
  margin-top: 0px;
}
.main-footer ul li a{

  text-decoration: none;
  height: 50px;
  float: left;
  margin: 0 auto;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding-top:15%;
}
.main-footer ul {
  width: 30%;
  margin: 0 auto;

}
