/**/
body {
  /*
  https://htmlcolorcodes.com/es/
  https://developer.mozilla.org/es/docs/Web/CSS/background
  https://developer.mozilla.org/es/docs/Web/HTML/Usando_audio_y_video_con_HTML5
  */
  background-color: red;
  background-image: url("img/gato-siames.jpg");
  background-size: 400px;
  /*background-repeat: repeat-round;*/
  background-repeat: no-repeat;
  background-position: right bottom;
  /* */
  background-attachment: fixed;
}

p {
  /*tipo de fuente - tipografia*/
  font-family: Arial;
  /*tamaño unidades comunes son px, em, rem*/
  font-size: 68px;
  /* define el estilo de la tipografia normal italic etc*/
  font-style: normal;
  /*define el peso de la tipografia negrita por ejemplo*/
  font-weight: bold;
  /*sin decoracion de textoo*/
  text-decoration: none;
  /*posicion del texto*/
  text-align: center;
  /*tamaño de la linea*/
  line-height: 100px;
  /*color nombre basico, hexadecimal o rgb*/
  background-color: white;
  /*color de la tipografia*/
  color: black;
  /*vamos a darle opacidad a la caja entre 0 y 1*/
  opacity: 0.5;
  /* podemos combinar los 2 anteriores usando rfba(1a255 3 veces y el ultimo valor 0 a 1)*/
}
