@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

form {
  background-color: white;

  margin-left: 20%;
  margin-right: 40%;
  border-left: 3px solid rgb(224,167,0);
  border-right: 3px solid rgb(224,167,0);
}

textarea {
  width: 460px;
  height: 120px;
}
p {
  padding-left: 5%;
  font-family: 'Poppins', sans-serif;
}

label {

}
#bajo {
  box-sizing: border-box;

  overflow: hidden;
}

#bot {
  border: 1px rgb(224,167,0);
  border-radius: 15px;
  background-color:  rgb(224,167,0);
  width: 50%;
  float: left;
  height: 40px;
  color: white;
}

#rei {

    border: 1px rgb(224,167,0);
    background-color:  white;
    width: 50%;
    float: right;
    height: 40px;
    color: rgb(224,167,0);


}
